.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 97vh;
}

.red-button {
  width: 30vw;
  height: 30vw;
  border-color: #303030;
  border-width: 50px;
  border-radius: 100%;
  background-color: #c40707;
}

.red-button:hover {
  background-color: #8d0202;
  border-color: #252525;
  cursor: pointer;
}

.red-button:active {
  background-color: #810202;
}

.word {
  font-family: fantasy;
  font-size: 36px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

